@import "tailwindcss";

.custom-select .ant-select-selector {
  background-color: #3d4c67 !important;
  border-color: #3d4c67 !important;
  color: #fff !important;
}
.custom-select .ant-select-selector .ant-select-selection-item {
  color: #fff !important;
}

.custom-select .ant-select-arrow {
  color: #fff !important;
}

.custom-select .ant-select-dropdown {
  background-color: #1d2d4a !important;
  color: #fff !important;
}
